/* Config */
$color-bg: #111;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

/* Pixels animation */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
}

/* Styles */
// html,
// body {
//   height: 100%;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 2rem;
//   overflow: hidden;
// }



// changed position from fixed to relative
.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  background-image: linear-gradient(
    to left,
    rgba(28, 75, 73, 0.565),
    rgba(27, 54, 84, 0.558),
    rgba(69, 46, 100, 0.783)
    );
  // overflow-y: scroll;
  // overflow-x: hidden;
}

.page-bg {
  background: $color-bg
    url("../src/media/space1.jpeg")
    no-repeat top center;
  background-size: cover;
  z-index: -1;
  // overflow-y: scroll;
  // overflow-x: hidden;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-1:after {
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-3 {
  animation: animParticle $time-3 linear infinite;
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(400);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(400);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

// .page-wrapper {
//   text-align: center;
//   color: #fff;
//   z-index: 2;
// }



// Hamburger menu navigation

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Cutive Mono", serif;
  font-size: 1.2em;
  line-height: 1.6;
  background: #CCC;
  overflow-x: hidden;
}

label {
  .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    opacity: 0.7;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    &:after,
    &:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  input {
    display: none;
  }
  input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    .hamburger {
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked + .menu + ul {
    opacity: 1;
  }

  ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
  }

  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  text-align: center;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  text-align: center;
}

.my-social {
  font-size: 40px;
  font-weight:700;
  // margin-bottom: 100px;
  // padding-bottom: 50px;
}

.menu-pad {
  top: 19%;
}

.my-tech-stack {
  color: black;
  font-weight: 600;
  font-style: italic;
  position: relative;

}

.tech-box {
  border-radius: 25px;
  padding: 10px;
  border: solid 5px;
  border-color: black;
  max-width: 700px;
  // display: flexbox;
  text-align: center;
  margin: auto;
  position: relative;
  // display: flexbox;
  // margin-bottom: 600px;
  top: 20%;
  margin-bottom: 100px;
}

.tech-stack-wrap {
  min-width: 600px;
  position: relative;
  bottom: -30%;
  margin: 0;
  // padding-top: 200px;




  // display:inline-block;



  // padding-bottom: 300px;
}


// @media screen and (max-height: 450px) {
//   body { overflow: auto; } /* Or change the height or whatever */

// }
