body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: auto;
}

.hamburger {
  opacity: 0.8;
}

/* .menu-pad::before::click {
  z-index: -1;
} */

.hide-nav {
  line-height: 0;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.jesse {
  color: white;
  letter-spacing: -1px;
  word-spacing: -8px;
  /* height:calc(100vh - 100px); */
  overflow: auto;
  height: 100%;
  width: 100%;


  /* position: relative; */
}

.jesse-text {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  border-radius: 25px;
  margin-bottom: 450px;
  opacity: 0.5;
  position: relative;
  display: table;
  margin: auto;
  width: 800px;
  min-width: 600px;



  /* text-align: center;
  margin: auto; */
}
.jesse-wrapper {
  min-width: 600px;
  position: relative;
  padding-top: 375px;
  bottom: -40%;
  z-index: 20;
  /* display: flex;
  flex-wrap: wrap; */
  /* grid-gap: 30px; */

}


.cursor-style {
  color: white;
  font-size: 40px;
  /* font-style: italic; */
  font-weight: 300;
  opacity: 0.8;
}

.ima {
  color: white;
  font-size: 35px;
  letter-spacing: -1px;
  word-spacing: -5px;
  opacity: 0.9;
  font-weight: 400;
  /* padding-top: 400px; */
}

.hobbies {
  /* color: #999; */
  color: white;
  opacity: 0.8;
  letter-spacing: -1px;
  word-spacing: -5px;
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(60deg, #22b1b3, #443aff);
  background-clip: text;
  color: transparent;
}
.header {
  text-align: center;
  /* height: 900px; */
  /* background-image: linear-gradient(
    to left,
    rgba(28, 75, 73, 0.565),
    rgba(27, 54, 84, 0.558),
    rgba(69, 46, 100, 0.783)
    ); */
  margin: 0;
  overflow-y: auto;
  height: 100%;
  font-family: 'Oxygen Mono', monospace;
  /* opacity: 0.5; */
  /* height: 1350px; */
  /* min-width: 600px;
  min-height: 600px; */
  /* position: relative;
  height: auto;
  width: auto; */
  /* height:calc(100vh - 100px); */
  /* max-width: 960px; */
}





/* Social Media Buttons */

a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 15px 4px;
  position: relative;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a:hover {
  color: #ffffff;
  opacity: 0.9;
  text-shadow: 3px 3px 3px  #000000;
  top: -3px;
}

.button {
  /* padding-top: 100px; */
  z-index: 20;
  position: relative;
  text-align: center;
  width: 100%;
  top: 2%;
  font-size : 100%;
  letter-spacing : 12px;



}
/* body {

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;
  text-align: center;




} */

@keyframes gradient {

    0% {

        background-position: 0% 50%;

    }

    50% {

        background-position: 100% 50%;

    }

    100% {

        background-position: 0% 50%;

    }

}


#project1 {
  /* background-image: url("../src/media/moviemixer1.png"); */
  /* background-repeat: no-repeat; */
  /* background-size:contain; */
  background-repeat: no-repeat;
  height: 400px;
  width: 500px;
  border: 25px;
  border-color: black;
  border-radius: 25px;
  /* left: 60%; */
  position: relative;
  margin-top: 150px;
  box-shadow: .7px 2px 2px 1px rgba(0, 1, 1, 0.854);

}

.container1 {
  padding-top: 100px;
  background-color:lightsalmon;
}

.movie-wrapper {
  position: relative;
  /* left: 5%;
  bottom: 70%; */
  width: 500px;
  margin-top: 200px;
}

.wrapper {
  height: 100px;
}

#portfolio-title {
  top: 10%;
}

.profile-image-container {
  height: 300px;
  width: 200px;
  /* border: 2px solid black; */
  border-radius: 350px;
  /* border-radius: 20px; */
  position: relative;
  left: 44%;
  bottom: -10%;
  display: table;
  margin: 0;

}

.profile-image {
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 70%;
  top: 0%;
  left: 180%;
  /* display: flex; */
  border-radius: 60px;
  border: 2px solid black;
  opacity: 0.7;
  /* margin: 0;
  padding: 0; */
}

.jesse-center {
  min-width: 600px;
}


/* .section-2 {
  height: 800px;
} */

/* @media screen and (min-width: 400px) and (max-width: 500px) {
  .navbar {
      width: 75%;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .navbar {
      width: 75%;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  .navbar {
      width: 75%;
  }
} */
